.denuncia{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.denuncia-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #d9d9d9;
    border-radius: 20px;
}

.denuncia-header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6189E0;
    border-radius: 20px 20px 0 0;
}

.denuncia-header h1{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.denuncia-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.denuncia-form form{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.denuncia-form h1{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: start;
}

.denuncia-form input{
    width: 95%;
    height: 20px;
    margin-top: 10px;
    font-size: 16px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.denuncia-form select{
    width: 30%;
    margin-top: 10px;
    font-size: 16px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.denuncia-form textarea{
    width: 95%;
    height: 150px;
    margin-top: 10px;
    font-size: 16px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    resize: none;
}

.checkbox{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.checkbox input{
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #fff;
}

.checkbox h1{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.checkbox h1 span{
    color: #6189E0;
    font-weight: 500;
}

.btn-denuncia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-denuncia button{
    width: 20%;
    padding: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.btn-denuncia button:hover{
    background-color: #6189E0;
    transform: scale(1.07);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}