.sugestao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.sugestao-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #d9d9d9;
    border-radius: 20px;
}

.sugestao-header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6189E0;
    border-radius: 20px 20px 0 0;
}

.sugestao-header h1{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.sugestao-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.sugestao-form form{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.sugestao-form h1{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: start;
}

.sugestao-form input{
    width: 95%;
    height: 20px;
    margin-top: 10px;
    font-size: 16px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sugestao-form textarea{
    width: 95%;
    height: 150px;
    margin-top: 10px;
    font-size: 16px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-sugestao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-sugestao button{
    width: 20%;
    padding: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.btn-sugestao button:hover{
    background-color: #6189E0;
    transform: scale(1.07);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}